@import url("./colorTheme.css");
@import url("./mobile.css");

* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-mantle);
  color: var(--color-text);
  font-family: "Oswald", sans-serif;
}
header {
  border: 2px solid var(--color-base);
  background-color: var(--color-base);
  margin-bottom: 10px;
}

.headerCol {
  display: flex;
  max-width: 100%;
  width: fit-content;
  align-items: center;
  max-height: 100px;
  border-radius: 0px 0px 12px 0px;
  margin-bottom: 5px;
  background: var(--secondaryColor);
}
.headerCol a {
  display: flex;
  color: var(--textColor);
  -webkit-text-stroke: 4px black;
  font-size: 40px;
  padding: 10px 10px;
  letter-spacing: -6px;
  transition: ease 0.3s;
}
.headerCol a:hover {
  scale: 101%;
}
.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 16/6;
}

.slide__inner {
  position: absolute;
  top: 0;
  left: 0vw;
  display: flex;
  height: 100%;
  transition-duration: 0.8s;
}

.slider__item {
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 0 5px 0 1px;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}
.slider_content {
  position: absolute;
  top: 60%;
  left: 50%;
  max-height: 180px;
  height: 100%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 5px 20px;
  border-radius: 6px;
}
.slide_button {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  font-size: 25px;
  padding: 0 20px;
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 0.3);
  color: wheat;
  cursor: pointer;
}
.next_slide {
  right: 0;
}

.sliderCTA {
  font-size: 20px;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px 5px;
  color: var(--textColor);
  background-color: var(--ctaColor);
}

.slider_title {
  font-size: 40px;
  color: var(--textColor);
}
.slider_text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.mainBanner {
  display: flex;
  background-color: var(--secondaryColor);
  margin-bottom: 10px;
  justify-content: space-between;
}
.mainBannerColumn {
  color: var(--textColor);
  border: 2px solid black;
}
.GS {
  color: var(--textColor);
  -webkit-text-stroke: 2px black;
  font-size: 2.5em;
  padding: 0;
  margin-left: 5%;
  letter-spacing: -4px;
}
.mainBannerColumn a {
  text-decoration: none;
  color: var(--textColor);
  padding: 0 10px 0 10px;
  background-color: var(--ctaColor);
  border-radius: 6px;
}
.mainRow {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cardImg {
  object-fit: cover;
  aspect-ratio: 16/8;
  height: 267.4px;
}

.mainCol {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  max-height: 700px;
  height: 600px;
  transform: scale(90%);
  border: 2px solid var(--ctaColor);
  border-radius: 6px;
  padding-bottom: 20px;
  margin: auto;
  box-shadow: 2px 3px 8px black;
  transition: ease 0.4s;
}
.card:hover {
  scale: 108%;
  & > p {
    -webkit-line-clamp: 7;
  }
}

.cardBanner1 {
  background-color: var(--secondaryColor);
  width: fit-content;
  border-radius: 0 0 10px;
}
.cardBanner1 h4 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 10px 20px;
  margin: 0;
  font-size: 28px;
  color: var(--textColor);
  -webkit-text-stroke: 2px black;
  transition: ease 0.4s;
}
.card p {
  font-size: 1.5em;
  font-weight: 200;
  padding: 10px 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card button {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: var(--ctaColor);
  font-size: 20px;
  font-weight: 600;
  align-self: center;
}
/*--------post-index--------*/
.container-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.card-container-index {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  border: 2px solid var(--ctaColor);
  margin: 10px 20px;
  border-radius: 8px;
  color: var(--textColor);
}

.game-title {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  background-color: var(--secondaryColor);
  width: fit-content;
  border-radius: 0 0 8px;
  & h2 {
    font-size: 45px;
    font-weight: 600;
    -webkit-text-stroke: 2px black;
    letter-spacing: -4px;
  }
}
.card-text {
  object-fit: contain;
  line-height: 1.6;
  max-width: 1100px;
  text-align: left;
  padding: 10px 0px;
  font-size: 25px;
}
/*-------------Account---------Account-------------------*/
/*-------------Account---------Account-------------------*/
/*-------------Account---------Account-------------------*/
#loginBody {
  display: flex;
  flex: 1;
}
button,
a {
  cursor: pointer;
}
.login-card-container {
  display: flex;
  justify-content: center;
}
.loginCard {
  width: 100%;
  max-width: 500px;
  padding: 24px;
  background-color: var(--color-base);
  border: 2px solid var(--ctaColor);
  border-radius: 8px;
}
form.login {
  width: 100%;
  height: 100%;
}
.inputWrapper {
  width: 100%;
  padding: 6px 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.inputWrapper input {
  flex: 1;
  padding: 10px 16px;
  font-size: 1em;
  background-color: var(--color-rosewater);
  color: var(--color-base);
  border: none;
  border-top: 1px solid var(--color-surface1);
  border-bottom: 1px solid var(--color-surface1);
  border-radius: 6px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.loginBtn {
  padding: 8px 16px 6px 16px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--color-rosewater);
  border: 2px solid var(--color-rosewater);
  border-radius: 8px;
}

a {
  color: var(--color-blue);
  text-decoration: none;
  font-size: 1em;
}
/*----------register---------*/
.register-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*---------------------------------*/

.makeForm {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;

  min-height: 700px;
  margin: 0 40px 0 40px;
}
#formTitle {
  flex: 1;
  margin: 5px 0;
}
#formBody {
  flex: 5;
  margin: 5px 0;
  resize: none;
}
.formButtonContainer {
  flex: 1;
}
.formButtonPost {
  margin: 10px 0px;
  padding: 8px 20px;
  font-weight: 700;
  font-size: 15px;
}
/*.formInput {
  text-transform: ;
}*/

.messages {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.messages p {
  display: flex;
  text-align: center;
  border: 2px solid var(--color-green);
  border-radius: 6px;
  background-color: var(--color-green);
  color: var(--color-crust);
  width: 400px;
  padding: 20px 10px 20px 10px;
  transform: translateY(-150%);
  transition: 0.3s;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  border: 1px solid var(--ctaColor);
  border-radius: 6px;
  margin: auto;
  box-shadow: 2px 3px 8px black;
  transition: 0.3s;
}
.card-container-img {
  object-fit: cover;
  max-height: 400px;
  object-position: 50% 50%;
}

.card-container-row {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}
.card-container-col {
  display: flex;
}
.edit-list-container {
  border: 2px solid var(--ctaColor);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
}
.edit-list {
  display: flex;
  flex-wrap: wrap;
}
.edit-list-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 2px solid var(--color-base);
  background-color: var(--color-crust);
  border-radius: 6px;
  align-items: center;
  padding: 15px 10px;
  margin: 10px 10px;
}
.edit-list-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--textColor);
  text-transform: uppercase;
}
.edit-list-button {
  padding: 5px 10px;
  background-color: var(--ctaColor);
  border: 2px solid var(--color-base);
  border-radius: 6px;
  font-size: 20px;
  font-weight: 500;
  &:first-child {
    margin-right: 10px;
  }
}
/*----------edit post form----------*/
.edit-post-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-post-card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--ctaColor);
  margin: 0 10px;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  min-width: 250px;
  height: fit-content;
}
.edit-post-card h2 {
  border-bottom: 1px solid var(--ctaColor);
  width: 200px;
  text-align: center;
}
.edit-post-row {
  display: flex;
  align-items: center;

  width: 100%;
}
.edit-post-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 5px;
}
#body-input {
  width: 100%;
  max-width: 750px;
  height: 600px;
  resize: none;
  border-radius: 6px;
  font-size: 20px;
}
.edit-input {
  width: 100%;
  max-width: 400px;
  height: 40px;
  border-radius: 6px;
  font-size: 20px;
}
.edit-post-button {
  padding: 5px 10px;
  background-color: var(--ctaColor);
  border: 2px solid var(--color-base);
  border-radius: 6px;
  font-size: 20px;
  font-weight: 500;
}

/*--------toolbox + footer--------*/
footer {
  margin-top: 10px;
  background-color: var(--color-base);
}
.footerRow {
  display: flex;
  border: 2px solid var(--color-base);
  top: 100%;
  justify-content: space-between;
  align-items: center;
}
.footerColumn {
  padding: 5px 5px;
  margin: 10px 20px;
  & > p {
    font-size: 20px;
  }
}
.menu {
  border: 2px solid var(--ctaColor);
  width: 200px;
  position: fixed;
  bottom: -500px;
  right: 10px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding: 15px 10px;
  background-color: var(--color-base);
  color: var(--textColor);
  transition-duration: 0.6s;
  & > a {
    color: var(--textColor);
    margin: 5px 0;
  }
  &.open {
    bottom: 100px;
    padding: 15px 10px;
  }
}
.menu h4 {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--ctaColor);
}

.admin-tools {
  width: 80px;
  height: 60px;
  cursor: pointer;
}
#menuButton {
  background-color: transparent;
  border: none;
}
