@media screen and (max-width: 500px) {
  header {
    margin: 0;
  }
  .headerCol {
    max-width: 300px;
    width: fit-content;
    align-items: center;
    & > a {
      display: flex;
      font-size: 30px;
      padding: 5px 10px;
      transform: none;
      letter-spacing: -3px;
    }
  }
}
